# Unity generated
**/[Bb]uilds/**
**/[Tt]emp/**
**/[Ll]ibrary/**
**/[Oo]bj/**
builds/
Builds/
Library/
library/
Temp/
temp/
obj/
Obj/

*.meta

# Visual Studio / MonoDevelop generated
*.csproj
*.unityproj
*.sln
*.suo
*.userprefs

# OS generated
.DS_Store
